In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [14]:
df = pd.read_csv('linear2.csv')

In [15]:
df

     total_sqft  bath  balcony   price
0        1056.0   2.0      1.0   39.07
1        2600.0   5.0      3.0  120.00
2        1440.0   2.0      3.0   62.00
3        1521.0   3.0      1.0   95.00
4        1200.0   2.0      1.0   51.00
..          ...   ...      ...     ...
160      1350.0   2.0      3.0   48.00
161      1063.0   2.0      1.0   32.00
162      1904.0   3.0      1.0  150.00
163      4200.0   4.0      2.0  420.00
164      2000.0   3.0      1.0  175.00

[165 rows x 4 columns]

# Data Processing

In [16]:
df.shape

(165, 4)

In [17]:
df.isnull().sum()

total_sqft     0
bath           2
balcony       12
price          0
dtype: int64

In [11]:
df.balcony.mean()

1.5843757375501535

In [12]:
df.balcony.median()

2.0

In [18]:
total_sqft_fit = df.total_sqft.median()
bath_fit = df.bath.median()
balcony_fit = df.balcony.median()

In [19]:
df.total_sqft = df.total_sqft.fillna(total_sqft_fit)
df.bath = df.bath.fillna(bath_fit)
df.balcony = df.balcony.fillna(balcony_fit)

In [20]:
df.isnull().sum()

total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

# Model implementation

In [26]:
reg = LinearRegression()

In [27]:
reg.fit(df[['total_sqft','bath','balcony']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
reg.predict([[3252,4,1]])

array([247.38526503])

# Validation

In [29]:
reg.coef_

array([ 0.07027691, 16.81217934, -3.85353664])

In [30]:
reg.intercept_

-44.55041079820273